/* normalize.scss v8.0.1 | MIT License | github.com/necolas/normalize.scss */

// import all variables without a namespace
@use "variables"as *;

// Box sizing
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Remove margin and padding
body {
  margin: 0;
  padding: 0;
}

// Remove list styles (bullets/numbers)
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Typography
html {
  font-family: $font-family-sans-serif;
  line-height: $line-height;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
}

// Links
a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: 1px dotted currentColor;
  }

  &:active {
    outline-width: 0;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

// Forms
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

// Utility classes
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
